.card-why-container {
    margin: 10px 0px;
}
.card-why-content {
    max-width: 300px;
    margin-left: 46px;
    margin-top: 20px;
}
.card-why-image {
    max-width: 52px;
    max-height: 60px;
}
.discover-container {
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
    max-width: 560px;
}
.description-discover {
    text-align: center;
    font-size: 14px;
    margin: 16px auto;
    max-width: 620px;
}